# C5053_Act. Acceso BD y manipulación de datos

In [ ]:
!pip -q install pymysql firebase-admin

## Conexión a MySQL

In [ ]:
import pandas as pd
import sqlalchemy as sqla

db = sqla.create_engine(
    "mysql+pymysql://mnaTC4029User:mnaTC4029Pass!@20.51.200.131:3306/Netflix",
    pool_recycle=3600
)
conn = db.connect()
pd.read_sql(sqla.text("SELECT 1 AS ok"), conn)

## Pregunta 1

In [ ]:
pd.read_sql(sqla.text('SELECT * FROM movie WHERE runtime > 300'), conn)

## Pregunta 2

In [ ]:
movie_cols = pd.read_sql(
    sqla.text(
        "SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS "
        "WHERE TABLE_SCHEMA='Netflix' AND TABLE_NAME='movie'"
    ),
    conn
)

cols_lower = movie_cols["COLUMN_NAME"].str.lower().tolist()

candidate_cols = [
    "region","country","countries","available_countries","available_country",
    "availability_region","available_in","market","territory"
]
col = next((c for c in candidate_cols if c in cols_lower), None)
if col is None:
    raise ValueError("No se encontró columna de región/país en movie.")

# Porcentaje de películas distribuidas únicamente en US (excluyendo NULL)
# Si la columna es de tipo lista/CSV, se evalúa estrictamente igualdad a 'US'.
query = sqla.text(f"""
SELECT ROUND(
  100.0 * SUM(CASE WHEN {col} = 'US' THEN 1 ELSE 0 END) / COUNT({col}),
  2
) AS porcentaje_solo_EU
FROM movie
WHERE {col} IS NOT NULL
""")
pd.read_sql(query, conn)

## Pregunta 3

In [ ]:
df_locales = pd.read_sql(
    sqla.text("SELECT DISTINCT locale FROM movie ORDER BY locale"),
    conn
)

df_null_locale = pd.read_sql(
    sqla.text("SELECT COUNT(*) AS total_null_locale FROM movie WHERE locale IS NULL"),
    conn
)

df_locales, df_null_locale

## Pregunta 4

In [ ]:
movie_cols = pd.read_sql(
    sqla.text(
        "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS "
        "WHERE TABLE_SCHEMA='Netflix' AND TABLE_NAME='movie'"
    ),
    conn
)["COLUMN_NAME"].str.lower().tolist()

title_col = "title" if "title" in movie_cols else None
orig_col = "original_title" if "original_title" in movie_cols else ("originaltitle" if "originaltitle" in movie_cols else None)
if title_col is None or orig_col is None:
    raise ValueError("No se encontraron columnas title/original_title en movie.")

df_compare = pd.read_sql(
    sqla.text(f"""
SELECT
  SUM(CASE WHEN locale IS NULL THEN 1 ELSE 0 END) AS total_null_locale,
  SUM(CASE WHEN locale IS NULL AND {title_col} <> {orig_col} THEN 1 ELSE 0 END) AS titulos_diferentes,
  SUM(CASE WHEN locale IS NULL AND {title_col} = {orig_col} THEN 1 ELSE 0 END) AS titulos_iguales,
  SUM(CASE WHEN locale IS NULL AND ({title_col} IS NULL OR {orig_col} IS NULL) THEN 1 ELSE 0 END) AS alguno_null_titulo
FROM movie
"""),
    conn
)

df_remaining = pd.read_sql(
    sqla.text(f"""
SELECT *
FROM movie
WHERE locale IS NULL
  AND (
    {title_col} = {orig_col}
    OR {title_col} IS NULL
    OR {orig_col} IS NULL
  )
LIMIT 200
"""),
    conn
)

df_compare, df_remaining

## Pregunta 4 – Características de los registros que no coinciden

In [ ]:
# Perfil simple de los registros restantes (campos más comunes si existen)
cols = [c for c in ["locale","region","runtime","release_date","vote_average","popularity"] if c in df_remaining.columns]
df_remaining[cols].describe(include="all") if cols else df_remaining.head()

## Pregunta 4 – Conclusión

In [ ]:
total_null = int(df_compare.loc[0, "total_null_locale"])
diff_null = int(df_compare.loc[0, "titulos_diferentes"])
same_null = int(df_compare.loc[0, "titulos_iguales"])
anynull_title = int(df_compare.loc[0, "alguno_null_titulo"])

pd.DataFrame([{
    "total_null_locale": total_null,
    "titulos_diferentes": diff_null,
    "titulos_iguales": same_null,
    "alguno_null_titulo": anynull_title,
    "hipotesis_valida": (total_null == diff_null and same_null == 0 and anynull_title == 0)
}])

## Pregunta 5

In [ ]:
# Detección de columna de FK a movie y columna de permanencia en top10
vs_meta = pd.read_sql(
    sqla.text(
        "SELECT COLUMN_NAME, DATA_TYPE FROM INFORMATION_SCHEMA.COLUMNS "
        "WHERE TABLE_SCHEMA='Netflix' AND TABLE_NAME='view_summary'"
    ),
    conn
)
vs_cols = vs_meta["COLUMN_NAME"].str.lower().tolist()

fk_movie = "movie_id" if "movie_id" in vs_cols else ("title_id" if "title_id" in vs_cols else None)
rank_col = "rank" if "rank" in vs_cols else ("position" if "position" in vs_cols else None)
views_col = "views" if "views" in vs_cols else ("view_count" if "view_count" in vs_cols else None)

# Columna de permanencia: prioriza columnas numéricas típicas
numeric_cols = vs_meta[vs_meta["DATA_TYPE"].isin(["int","bigint","decimal","float","double"])]
numeric_names = numeric_cols["COLUMN_NAME"].str.lower().tolist()
candidates_time = ["weeks","days","time","streak","count","appearances","episodes","duration"]
time_col = next((c for c in numeric_names if any(k in c for k in candidates_time) and c not in [rank_col, views_col]), None)

if fk_movie is None or rank_col is None:
    raise ValueError("No se detectó movie_id/title_id o rank/position en view_summary.")

# Si no hay columna de tiempo, se usa número de apariciones en top10 como permanencia
if time_col is None:
    query = sqla.text(f"""
SELECT m.title, COUNT(*) AS permanencia
FROM view_summary v
JOIN movie m ON v.{fk_movie} = m.movie_id
WHERE v.{rank_col} <= 10
GROUP BY m.title
ORDER BY permanencia DESC
LIMIT 1
""")
else:
    query = sqla.text(f"""
SELECT m.title, SUM(v.{time_col}) AS permanencia
FROM view_summary v
JOIN movie m ON v.{fk_movie} = m.movie_id
WHERE v.{rank_col} <= 10
GROUP BY m.title
ORDER BY permanencia DESC
LIMIT 1
""")

pd.read_sql(query, conn)

## Pregunta 6

In [ ]:
pd.read_sql(
    sqla.text("""
SELECT t.title, COUNT(s.season_id) AS total_temporadas
FROM tv_show t
JOIN season s ON t.tv_show_id = s.tv_show_id
GROUP BY t.title
ORDER BY total_temporadas DESC
LIMIT 5
"""),
    conn
)

## Pregunta 7

In [ ]:
# Extrae rangos de fechas desde duration cuando viene como 'YYYY-MM-DD / YYYY-MM-DD'
pd.read_sql(
    sqla.text("""
SELECT DISTINCT
  duration,
  CASE
    WHEN INSTR(duration, ' / ') > 0 THEN STR_TO_DATE(SUBSTRING_INDEX(duration, ' / ', 1), '%Y-%m-%d')
    WHEN INSTR(duration, '-') > 0 THEN STR_TO_DATE(SUBSTRING_INDEX(duration, '-', 1), '%Y%m%d')
    ELSE NULL
  END AS start_date,
  CASE
    WHEN INSTR(duration, ' / ') > 0 THEN STR_TO_DATE(SUBSTRING_INDEX(duration, ' / ', -1), '%Y-%m-%d')
    ELSE NULL
  END AS end_date
FROM view_summary
ORDER BY start_date, end_date
"""),
    conn
)

## Pregunta 8

In [ ]:
# Detecta el primer periodo semestral 2024 desde duration
durations = pd.read_sql(sqla.text("SELECT DISTINCT duration FROM view_summary"), conn)["duration"].astype(str).tolist()
sem1 = next((d for d in durations if "2024" in d and ("01" in d) and (("06" in d) or ("30" in d))), None)
if sem1 is None:
    sem1 = "2024-01-01 / 2024-06-30"

# Detecta columnas necesarias
vs_cols = pd.read_sql(
    sqla.text(
        "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS "
        "WHERE TABLE_SCHEMA='Netflix' AND TABLE_NAME='view_summary'"
    ),
    conn
)["COLUMN_NAME"].str.lower().tolist()

views_col = "views" if "views" in vs_cols else ("view_count" if "view_count" in vs_cols else None)
if views_col is None:
    raise ValueError("No se encontró columna de vistas en view_summary.")

query = sqla.text(f"""
SELECT s.season_number, SUM(v.{views_col}) AS total_views
FROM tv_show t
JOIN season s ON t.tv_show_id = s.tv_show_id
JOIN view_summary v ON s.season_id = v.season_id
WHERE t.title = 'Grey''s Anatomy'
  AND v.duration = :dur
GROUP BY s.season_number
ORDER BY total_views DESC
""")
df_greys = pd.read_sql(query, conn, params={"dur": sem1})
df_greys

## Pregunta 8 – Interpretación

Las temporadas con mayor número de vistas en el primer semestre de 2024 indican en qué parte de la serie se concentra la atención de la audiencia durante ese periodo. Si predominan temporadas recientes, sugiere consumo por actualidad o tendencia; si dominan temporadas iniciales, sugiere que nuevos usuarios comienzan desde el inicio. Picos en temporadas intermedias pueden asociarse a eventos narrativos relevantes o episodios clave que motivan re-visionados.

## Pregunta 9

In [ ]:
tv_show = pd.read_sql(sqla.text("SELECT * FROM tv_show"), conn)
season = pd.read_sql(sqla.text("SELECT * FROM season"), conn)
view_summary = pd.read_sql(sqla.text("SELECT * FROM view_summary"), conn)

durations = view_summary["duration"].astype(str).unique().tolist()
sem1 = next((d for d in durations if "2024" in d and ("01" in d) and (("06" in d) or ("30" in d))), None)
if sem1 is None:
    sem1 = "2024-01-01 / 2024-06-30"

merged = (tv_show
          .merge(season, on="tv_show_id", how="inner")
          .merge(view_summary, on="season_id", how="inner"))

df_greys_pandas = merged[(merged["title"] == "Grey's Anatomy") & (merged["duration"].astype(str) == sem1)]

views_col = "views" if "views" in df_greys_pandas.columns else ("view_count" if "view_count" in df_greys_pandas.columns else None)
if views_col is None:
    raise ValueError("No se encontró columna de vistas en el dataframe view_summary.")

(df_greys_pandas
 .groupby("season_number")[views_col]
 .sum()
 .reset_index(name="total_views")
 .sort_values("total_views", ascending=False))

## Pregunta 10

In [ ]:
import firebase_admin
from firebase_admin import credentials, firestore
from google.colab import files

files.upload()

if not firebase_admin._apps:
    firebase_admin.initialize_app(credentials.Certificate("consultancy.json"))

db_fs = firestore.client()

docs = db_fs.collection("EMPLOYEE").stream()
rows = []
for doc in docs:
    d = doc.to_dict()
    d["id"] = doc.id
    rows.append(d)

pd.DataFrame(rows)

## Cierre

In [ ]:
conn.close()